@charset "utf-8";
/* reset */
*{ margin: 0; padding: 0; }
ul, li, ol{ list-style: none; }
a{ text-decoration: none; }

/* 
시멘틱 태그 종류
header: h1, 로고, gnb메뉴, 유틸메뉴
footer: 카피라이터, 주소, 로고 등등
section: 여러 중심 내용을 감싸는 공간
article: 
*/