@charset 'UTF-8'; 

*{ margin:0px; padding:0px; box-sizing:border-box; }
ul,ol,li{ list-style:none; }
a{ text-decoration:none; }
fieldset{ border:none; } 

section{
   width:600px; margin:50px auto; 
   padding:70px 50px 60px; 

   form{
      legend{ 
         font:45px/1 'arial'; 
         color:#555; margin-bottom: 50px; 
      }

      article{
         padding:15px 0; 

         label{
            color:#999; display:block; margin-bottom:10px;
         }
         input[type=text], input[type=password], select, textarea{
            width:100%; border:1px solid #ddd; border-radius:4px; 
            background:#f5ffff; 
            padding:10px; margin-bottom:10px; 
            color:skyblue; resize:none; 
            transition:1s; 
         }

         input[type=reset], input[type=submit]{
            width:100%; 
            border:none; 
            margin-bottom:10px; 
            padding:15px; 
            font:bold 12px/1 'arial'; color:#fff; 
            background:#666; 
            cursor:pointer; transition:0.5s; 

            &:hover{
               background:skyblue; 
               transform:scale(1.05); 
            }
         }

         p{
            color:hotpink;
         }

         &.hobby, &.gender{
            h2{ 
               font:normal 16px/1 'arial'; color:#888; margin-bottom:10px; 
            }
            label{
               display:inline-block; color:skyblue; 
            }
         }
      }
   }
}