@charset 'utf-8'; 
@import 'reset.css'; 
 
/* 
transform-origin : 변환 중심 설정 기본값 center
*/
/* prev */
.prev{
    display:block; 
    width:100px; 
    height:100px; 
    margin:100px; 
    position:relative; 
    border:1px solid red; 
    float:left; 
}

.prev::before{
    content:''; 
    display:block; 
    width:100%; 
    height:1px; 
    background:#000; 
    position:absolute; 
    left:0%; 
    top:50%; 
    transform:rotate(-30deg); 
    transform-origin:left center; 
    transition:0.5s; 
}
.prev::after{
    content:''; 
    display:block; 
    width:100%; 
    height:1px; 
    background:#000; 
    position:absolute; 
    left:0; 
    top:50%; 
    transform:rotate(30deg); 
    transform-origin:left center; 
    transition:0.5s; 
}

.prev strong{
    font:bold 12px/1 'arial'; 
    color:#111; 
    position:absolute; 
    top:50%; 
    left:50%; 
    transform:translate(100%, -50%);
    opacity:0; 
    transition:0.5s; 
}

.prev:hover strong{
    opacity:1; 
    transform:translate(-50%, -50%); 
}

.prev:hover::before{
    transform:rotate(-180deg); 
    top:0%; 
    transform-origin:center center; 
}
.prev:hover::after{
    transform:rotate(180deg); 
    top:100%; 
    transform-origin:center center; 
}



.next{
    display:block; 
    width:100px; 
    height:100px; 
    margin:100px; 
    position:relative; 
    border:1px solid red; 
    float:left; 
}

.next::before{
    content:''; 
    display:block;
    width:100%; 
    height:1px; 
    background:#000; 
    position:absolute;
    top:50%; 
    right:0%; 
    transform:rotate(30deg);
    transform-origin:right center; 
    transition:0.5s; 
}
.next::after{
    content:''; 
    display:block;
    width:100%; 
    height:1px; 
    background:#000; 
    position:absolute;
    top:50%; 
    right:0%; 
    transform:rotate(-30deg);
    transform-origin:right center; 
    transition:0.5s; 
}

.next strong{
    font:bold 12px/1 'arial'; 
    color:#111; 
    position:absolute; 
    top:50%; 
    right:50%; 
    transform:translate(-100%, -50%); 
    opacity:0; 
    transition:0.5s; 
}

.next:hover strong{
    transform:translate(50%, -50%); 
    opacity:1; 
}

.next:hover::before{
    transform:rotate(-180deg); 
    transform-origin:center center; 
    top:0%;     
}
.next:hover::after{
    transform:rotate(180deg); 
    transform-origin:center center; 
    top:100%; 
}

