@charset "utf-8";
/* reset */
*{ margin: 0; padding: 0; }
ul, li, ol{ list-style: none; }
a{ text-decoration: none; }

.box{
    width: 100%;
    height: 100vh;
    background: lightblue;

    font-size: 20vmin;
    text-align: center;
    color: white;

}

/* 
vw(viewport width): 가로폭을 백등분한 단위
vh(viewport height): 세로폭을 백등분한 단위
vmax: 긴폭을 기준으로 백등분한 단위
vmin: 작은폭을 기준으로 백등분한 단위

vmax는 데스트탑 크기에서만 반응형 적용할때
vmin은 모바일 기기 크기에서만 반응형을 적용할 때 
*/