@charset "utf-8";
/* reset */
*{ margin: 0; padding: 0; }
ul, li, ol{ list-style: none; }
a{ text-decoration: none; }

.wrap{
    width: 1000px;
    border: 10px solid #000;
    margin: 50px auto;
}

.wrap::after{
    content: "";
    display: block;
    clear: both;
}

.wrap .left{
    width: 200px;
    float: left;
}

.wrap .left .box1{
    width: 200px;
    height: 200px;
    background-color: #aaa;
}

.wrap .left .box2{
    width: 200px;
    height: 200px;
    background-color: #bbb;
}

.wrap .left .box3{
    width: 200px;
    height: 200px;
    background-color: #ccc;
}

.wrap .center{
    width: 600px;
    height: 600px;
    background-color: #ddd;
    float: left;
}

.wrap .right{
    width: 200px;
    float: left;
}

.wrap .right .box1{
    width: 200px;
    height: 200px;
    background-color: #111;
}

.wrap .right .box2{
    width: 200px;
    height: 200px;
    background-color: #222;
}

.wrap .right .box3{
    width: 200px;
    height: 200px;
    background-color: #333;
}